body {
	font-family: "Nunito", sans-serif;
	background-color: #ebebeb;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.align-items-center {
	align-items: center;
}

.margin-0 {
	margin: 0 0 0 0;
}

.padding-0 {
	padding: 0 0 0 0;
}

.adjustment {
	display: flex;
	justify-content: center;
	align-items: center;
}

.white-text {
	color: white !important;
}

.accent-text {
	color: #459eab !important;
}

.height-90-vh {
	height: 90vh;
}

.height-auto {
	height: auto !important;
}

.width-auto {
	width: auto !important;
}

.navbar {
	height: 10vh;
	width: 100vw;
	background-color: white;
	filter: drop-shadow(0 0 0.5rem #e5e5e5);
}

.navbar h2 {
	padding: 0 0 0 2.5rem;
}

.navbar img {
	width: 1.5rem;
	height: 1.5rem;
	padding-right: 1.5vw;
}

.navbar h3 {
	padding: 0 2.5rem 0 0;
}

.menu {
	width: 9vw;
	background-color: #459eab !important;
	padding-top: 2vh;
	height: auto;
}

.menu img {
	width: 15vw;
	height: 10vh;
}

.menu div {
	margin: 1.5rem 1rem 0 1rem;
	cursor: pointer;
}

.data {
	width: 91vw;
	padding-top: 2vh;
	padding: 10px 10px 10px 10px;
}

.visibility-hidden {
	visibility: hidden;
}

.col-graph {
	visibility: visible;
	background-color: white;
	border: #459eab solid;
	border-radius: 1rem;
	width: auto;
	margin: 2.5rem 2.5rem 2.5rem 2.5rem;
	filter: drop-shadow(0 0 0.5rem #e5e5e5);
}

.graph {
	visibility: visible;
	width: auto;
	height: auto;
	background-color: white;
	margin: 2.5rem 2.5rem 2.5rem 2.5rem;
}

.caption {
	visibility: visible;
	color: black;
	font-style: italic;
	padding-top: 2vh;
}
